p {
	border: 2px solid red;
	/* margin: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 0px;
	margin: 20px 0px 10px 5px; */
	/* margin: 0px 20px; */

	/* padding: 10px 20px; */

	/* relative to the static/
	default position */
	/* position: relative; */
	/* top: 50px; */

	/* relative to viewport */
	/* position: fixed; */
	/* top: 0px; */
	/* left: 0px; */


}